* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --main-color: #f35288;
  --gray-line: lightgray;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* month */
.month-container {
  display: flex;
  padding: 2rem;
  font-weight: 700;
  font-size: 3rem;
  width: 50%;
  min-width: 320px;
  border: 2px solid lightgrey;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.month-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.month-header i {
  cursor: pointer;
}

/* Total Balance */
.summary-header h2 {
  padding-top: 20px;
}

.summary-container {
  background-color: var(--main-color);
  width: 50%;
  min-width: 320px;
  border-radius: 20px;
  padding: 2%;
  color: #fff;
}

.summary {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 25px;
  padding: 20px;
}

.each-total {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  margin-top: 20px;
}

.summary-expense p,
.summary-income p {
  padding: 5px;
  font-size: 23px;
}

.category {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 25px;
  padding: 20px;
}

/* budget container temp */
.budget-header {
  margin-bottom: 2rem;
}

.budget-container {
  background-color: #fbcbdc;
  width: 50%;
  min-width: 320px;
  border-radius: 20px;
  padding: 2rem;
  color: #f35288;
  margin-top: 20px;
}

.budget-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.budget-item span:first-child {
  width: 60px;
  text-align: left;
  font-weight: bold;
}

.budget-bar {
  flex-grow: 1;
  height: 20px;
  background-color: #fff;
  margin: 0px 10px 0px 50px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.budget-bar-inner {
  height: 100%;
  border-radius: 10px;
}

.budget-item span:last-child {
  width: 100px;
  text-align: right;
}

/* income */
.income-title {
  display: flex;
  text-align: left;
  padding-left: 0%;
  width: 15%;
}

.income-amount {
  display: flex;
  text-align: left;
  width: 15%;
}

.income-first-container {
  width: 100%;
}

.income-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 50%;
  min-width: 320px;
  padding: 2rem;
  border: 2px solid lightgrey;
  line-height: 2rem;
  border-radius: 20px;
  margin-top: 20px;
  align-items: center;
}

.income-each-total {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.category-each-total,
.expense-each-total {
  padding: 10px;
}

.income,
.expense {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.income-area,
.category-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.income h2 {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.income-btn-new {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.income-btn-new button {
  background: var(--main-color);
  border-radius: 20px;
  width: auto;
  border: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.income-btn-new button:hover {
  background-color: #ff4069;
  /*same color of the hovered chart */
  font-weight: bold;
}

.income button {
  background: var(--main-color);
  color: #fff;
  border-radius: 27.5px;
  border: 1px solid #333;
  width: 20%;
  border: none;
  font-size: 1.5em;
  padding: 0.3rem;
  cursor: pointer;
}

.salary {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 2%;
  font-size: 23px;
}

.salary p:first-child {
  margin-left: 1%;
}

.salary p {
  padding: 10px 10px;
}

/*Expense*/
.circle circle {
  fill: none;
  stroke-width: 14px;
}

.graph-wrap {
  width: 50%;
}

.circle circle:nth-child(1) {
  stroke: red;
  stroke-dasharray: 40, 100;
  stroke-dashoffset: 0;
}

.category-expense {
  display: flex;
  margin: 5px 0;
  gap: 10px;
  justify-content: space-between;
  border: solid 2px var(--gray-line);
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.category-expense p {
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.expense-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.color-expense {
  color: red;
  font-weight: bold;
}

.category-expense:hover .color-expense {
  color: white;
}

.expense-header,
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.expense-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.expense h2 {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.expense-btn-new {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.expense-container {
  border: solid 2px var(--gray-line);
  border-radius: 20px;
  width: 50%;
  min-width: 320px;
  margin-top: 20px;
  padding: 2rem;
  /*height: 143.54px; /* Default height */
  overflow: hidden;
  /* Prevent content overflow */
  transition: height 0.3s ease;
  /* Smooth transition when height changes */
}

h2 {
  font-size: 2rem;
}

.expense-list {
  margin: 0 auto;
  border-collapse: collapse;
}

.expense-list th,
td {
  border: solid 1px;
  padding: 5%;
}

.expense-list th {
  width: 100px;
  height: 30px;
}

.expense-chart {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.category-item {
  border: solid 1px var(--gray-line);
  border-radius: 6px;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.category-item:hover,
.category-expense:hover,
.income-box:hover {
  background-color: var(--main-color);
  color: white;
}

.category-item p {
  padding-left: 5px;
  width: 100%;
  text-align: left;
}

.category-item p:first-of-type {
  max-width: calc((100% - 5.2rem) / 2);
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 5px;
}

.save-exence-wrap,
.edit-category-wrap,
.save-category-wrap {
  text-align: center;
}

.edit-category-wrap {
  margin-top: 1rem;
}

.save-category-wrap {
  margin-top: 1rem;
}

.edit-category-wrap,
.save-exence-wrap {
  padding: 0.5rem;
}

.expense-chart {
  margin-bottom: 1.5rem;
}

.color-expense {
  color: red;
  font-weight: bold;
}

.category-expense {
  display: flex;
  width: 100%;
  border: solid 1px var(--gray-line);
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: auto;
  margin: 10px 0;
}

.category-expense p:first-of-type {
  /*to hide some part of text and show "..."*/
  min-width: 30px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.category-expense p:nth-of-type(2) {
  /*to hide some part of text and show "..."*/
  max-width: 200px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.category-expense p:nth-of-type(3) {
  text-align: right;
}

.category-expense:hover {
  background-color: var(--main-color);
  color: white;
}

.category-expense:hover .color-expense {
  color: white;
}

.category-expense p {
  height: 100%;
  /*vertical-align: center;*/
  padding-left: 5px;
  /*line-height: 3.5rem;*/
}

/********* category **********/
.category-container {
  margin-top: 1.5rem;
  border: solid 2px var(--gray-line);
  border-radius: 20px;
  width: 50%;
  min-width: 320px;
  padding: 2rem;
}

.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 20px 0 20px;
  font-size: 1.4rem;
}

.category-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.category-header h2 {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.category-btn-new {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

#exerrorMessage,
#exerrorMessageEdit {
  color: #e74c3c;
  font-size: 18px;
  margin-top: 10px;
  display: none;
}

/* add income css (joy) */
#errorMessage,
#errorMessageEdit {
  color: #e74c3c;
  font-size: 18px;
  margin-top: 10px;
  display: none;
}

#saveIncomeBtn,
#editIncomeBtn,
#delIncomeBtn {
  padding: 12px;
  background-color: #fff;
  color: #f35288;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s;
  border: 2px solid #e5e5e5;
}

#saveIncomeBtn,
#editIncomeBtn {
  width: 100%;
}

#delIncomeBtn {
  width: auto;
}

#saveIncomeBtn,
#editIncomeBtn {
  width: 100%;
}

#delIncomeBtn {
  width: auto;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  outline: none;
}

.income-box {
  display: flex;
  margin: 5px;
  gap: 10px;
  justify-content: space-between;
  border: solid 1px var(--gray-line);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  line-height: 30px;
  cursor: pointer;
}

.income-box p {
  text-align: center;
}

p {
  text-overflow: ellipsis;
}

/******** footer ***********/
footer {
  margin-top: 2rem;
  text-align: center;
  background-color: #331524;
  color: white;
  padding: 1rem;
}

.expense-chart {
  width: 90%;
}

.dispbtn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#displayBtn {
  background: white;
  border-radius: 20px;
  width: auto;
  height: 3rem;
  border: solid 2px #e5e5e5;
  color: var(--main-color);
  font-size: 1rem;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

/********************/
/*for tablet*/
@media (max-width: 1020px) and (min-width: 768px) {
  body {
    font-size: 15px;
  }

  .salary,
  .category-container .categories {
    font-size: 15px;
  }
  .category-container .category-item .delete-btn,
  .category-expense .delete-btn,
  #delIncomeBtn {
    font-size: 15px;
    padding: 8px;
  }
}

/*for smartphone*/
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  #currentMonth {
    font-size: 32px;
  }
  .save-exence-wrap,
  .edit-category-wrap {
    text-align: center;
  }

  .category-item .delete-btn {
    font-size: 14px;
    margin: 0;
    height: auto;
    width: auto;
    padding: 10px;
  }
  .budget-item span:last-child {
    width: 75px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .budget-item span:first-child {
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .budget-bar {
    margin: 0;
  }

  .income-area {
    position: relative;
  }

  .income-btn-new {
    position: absolute;
    top: -24px;
    right: 0;
  }

  .salary {
    margin-top: 1.5rem;
  }

  .income-container,
  .expense-container,
  .category-container {
    padding: 2rem 0 0 0;
  }

  .category-expense {
    gap: 5px;
  }

  .expense-chart {
    margin-top: 1rem;
  }

  .category-expense p:first-of-type {
    min-width: 30px;
    max-width: 30px;
    text-overflow: unset;
  }

  .category-expense p:nth-of-type(2) {
    min-width: 60px;
  }

  .category-expense p:nth-of-type(3) {
    min-width: 70px;
    max-width: 70px;
    font-size: 0.8rem;
  }

  .category-expense p:nth-of-type(4) {
    min-width: 40px;
    text-wrap: wrap;
    font-size: 0.8rem;
  }

  .expense-container .delete-btn {
    width: 3rem;
    font-size: 10px;
    padding: 5px;
    height: auto;
  }

  #delIncomeBtn {
    font-size: 14px;
    width: 4rem;
    padding: 0;
  }

  .categories {
    padding: 2% 20px 1rem 20px;
  }

  .expense-wrap {
    padding: 0 1rem;
  }

  .dispbtn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #displayBtn {
    font-size: 14px;
    height: auto;
    padding: 5px;
  }
}
