* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --main-color: #f35288;
  --gray-line: lightgray;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* month */
.month-container {
  display: flex;
  padding: 2rem;
  font-weight: 700;
  font-size: 3rem;
  width: 50%;
  border: 2px solid lightgrey;
  border-radius: 20px;
  margin-bottom: 20px;
}

.month-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.month-header i {
  cursor: pointer;
}

/* Total Balance */
.summary-header h2 {
  padding-top: 20px;
}

.summary-container {
  background-color: var(--main-color);
  width: 50%;
  border-radius: 20px;
  padding: 2%;
  color: #fff;
}

.summary {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 25px;
  padding: 20px;
}

.each-total {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  margin-top: 20px;
}

.summary-expense p,
.summary-income p {
  padding: 5px;
  font-size: 23px;
}

.category {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 25px;
  padding: 20px;
}

/*.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin: 3rem auto 0 auto;
  width: 100%;
}*/

/* income */
.income-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 50%;
  padding: 2rem;
  border: 2px solid lightgrey;
  line-height: 2rem;
  border-radius: 20px;
  margin-top: 20px;
  align-items: center;
}

.income-each-total,
.expense-each-total,
.category-each-total {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.income,
.expense {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.income-area,
.expense-area,
.category-area {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.category-area,
.expense-area {
  padding: 2rem;
}

.income h1 {
  font-size: 2rem;
  margin-right: -40px;
}

.income-btn-new {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.income-btn-new button {
  background: var(--main-color);
  border-radius: 20px;
  width: auto;
  border: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.income button {
  background: var(--main-color);
  color: #fff;
  border-radius: 27.5px;
  border: 1px solid #333;
  width: 20%;
  border: none;
  font-size: 1.5em;
  padding: 0.3rem;
  cursor: pointer;
}

.salary {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 2%;
  font-size: 23px;
}

.salary p:first-child {
  margin-left: -4%;
}

.salary p:last-child {
  margin-left: 5%;
}

/*Expense*/
.circle circle {
  fill: none;
  stroke-width: 14px;
}

.graph-wrap {
  width: 50%;
}

.circle circle:nth-child(1) {
  stroke: red;
  stroke-dasharray: 40, 100;
  stroke-dashoffset: 0;
}

.category-expence {
  display: flex;
  margin: 5px 0;
  gap: 10px;
  justify-content: space-between;
  border: solid 2px var(--gray-line);
  border-radius: 20px;
  padding: 10px;
  line-height: 30px;
  width: 100%;
  font-size: 1rem;
}

.category-expence p {
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.expence-item {
  display: flex;
  align-items: center;
}

.expence-wrap {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.color-expence {
  color: red;
  font-weight: bold;
}

.category-expence:hover .color-expence {
  color: white;
}

.expense-header,
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.expense h2,
.category h2 {
  width: 100%;
}
.expence-container {
  border: solid 2px var(--gray-line);
  border-radius: 20px;
  width: 50%;
  margin-top: 20px;
  padding: 0 0 0.8rem 0;
}

h2 {
  font-size: 2rem;
}

.expence-list {
  margin: 0 auto;
  border-collapse: collapse;
}

.expence-list th,
td {
  border: solid 1px;
  padding: 5%;
}

.expence-list th {
  width: 100px;
  height: 30px;
}

.expense-chart {
  width: 50%;
  margin: 0 auto;
}

.category-item p {
  border: solid 2px var(--gray-line);
  border-radius: 6px;
  color: black;
  background-color: white;
  display: block;
  margin: 10px;
  padding: 5px;
  line-height: 30px;
  min-width: 6rem;
}

.categories p:hover,
.category-expence:hover {
  background-color: var(--main-color);
  color: white;
}

.save-exence-wrap,
.edit-category-wrap {
  text-align: right;
}
.expense-chart {
  margin-bottom: 1.5rem;
}

.color-expense {
  color: red;
  font-weight: bold;
}
.category-expense {
  display: flex;
  width: 100%;
  border: solid 2px var(--gray-line);
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4rem;
}

.category-expense:hover {
  background-color: var(--main-color);
  color: white;
}

.category-expense:hover .color-expense {
  color: white;
}
.category-expense p {
  height: 100%;
  vertical-align: center;
}
/********* category **********/
.category-container {
  margin-top: 1.5rem;
  border: solid 2px var(--gray-line);
  border-radius: 20px;
  width: 50%;
  padding-bottom: 0.5rem;
}
.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.category-header h2 {
  width: 100%;
}

/* add income css (joy) */
#errorMessage,
#errorMessageEdit {
  color: #e74c3c;
  font-size: 18px;
  margin-top: 10px;
  display: none;
}

#saveIncomeBtn,
#editIncomeBtn,
#delIncomeBtn {
  padding: 12px;
  background-color: #fff;
  color: #f35288;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s;
  border: 2px solid #e5e5e5;
}

#saveIncomeBtn,
#editIncomeBtn {
  width: 100%;
}

#delIncomeBtn {
  width: auto;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  outline: none;
}

.income-box {
  display: flex;
  margin: 5px;
  gap: 10px;
  justify-content: space-between;
  border: solid 1px var(--gray-line);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  line-height: 30px;
  cursor: pointer;
}

.income-box p {
  text-align: center;
}

/******** footer ***********/
footer {
  margin-top: 2rem;
  text-align: center;
  background-color: #331524;
  color: white;
  padding: 1rem;
}