/* Modal styling */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
  }
  
  .modal-input-container {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /*check leter, originally 35%*/
    max-height: 90%;
    overflow-y: auto;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .category-item {
    cursor: pointer;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
  }
  /*******haruka**********/
  #addExpenseModal {
    font-size: 1.2rem;
    text-align: left;
  }
  
  .modal-content input {
    border: 2px solid var(--gray-line);
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .modal-content select {
    border: 2px solid var(--gray-line);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    max-width: 16.2rem;
  }
  .expence-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
  
  .expence-item {
    flex: 1; /* make Price and Date's input width same*/
  }
  .expence-flex > .expence-item > input {
    width: 100%;
    height: 3rem;
  }
  #addCategoryModal,
  #editCategoryModal {
    text-align: left;
  }
  
  #addCategoryModal h2,
  #editCategoryModal h2 {
    text-align: center;
  }
  
  #addCategoryModal label,
  #editCategoryModal label {
    font-size: 1.2rem;
    text-align: left;
    display: inline-block;
    margin-top: 0.5rem;
  }
  
  .ctgry-flex {
    display: flex;
    margin-top: 1rem;
  }
  
  .ctgry-flex label {
    text-wrap: none;
    white-space: nowrap;
    margin-right: 0.2rem;
  }
  
  #addCategoryModal #categorySymbol,
  #categorySymbolEdit {
    width: 8rem;
    margin: 0.5rem 0;
  }
  
  #addExpenseModal label {
    display: inline-block;
    margin: 1rem 0 0.2rem 0;
  }
  
  #addEmojiPicker,
  #editEmojiPicker {
    width: 100%;
    max-height: 17rem; /*Haruka added*/
  }
  #saveCategoryBtn,
  #saveExpenseBtn,
  #editCategoryBtn {
    margin-top: 0.5rem;
    width: 15rem;
    height: 2.8rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
  }
  
  #saveCategoryBtn:hover,
  #saveExpenseBtn:hover,
  #editCategoryBtn:hover {
    background-color: #ff4069; /*same color of the hovered chart */
    font-weight: bold;
  }
  
  .delete-btn {
    background: white;
    border-radius: 20px;
    width: 5rem;
    height: auto;
    border: solid 1px #36a2eb;
    color: #031929;
    padding: 5px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #36a2eb;
    color: white;
  }
  
  .category-item:hover {
    background-color: #fddce7;
  }
  
  #categoryTitleEdit {
    width: 75%;
  }