/* Modal styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-input-container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /*check leter, originally 35%*/
  min-width: 360px;
  max-width: 1000px;
  max-height: 90%;
  overflow-y: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#editExpenseModal,
#addExpenseModal {
  font-size: 1.2rem;
  text-align: left;
}

.modal-content input {
  border: 2px solid var(--gray-line);
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  /* margin-bottom: 0.5rem; */
}
#expensePriceInput {
  margin: 0;
}
#addExpenseModal #addExpenseModal input {
  margin: 0;
}
.modal-content select {
  border: 2px solid var(--gray-line);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  max-width: 16.2rem;
}
.expence-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

/* .expence-item {
  flex: 1; /* make Price and Date's input width same*/
/* } */
/* .expence-flex > .expence-item > input {
  width: 100%;
  height: 3rem;
} */
#addCategoryModal,
#editCategoryModal,
#editExpenseModal {
  text-align: left;
}

#addExpenseModal h2,
#addCategoryModal h2,
#editCategoryModal h2,
#editExpenseModal h2 {
  text-align: center;
  margin-bottom: 10px;
}

#addCategoryModal label,
#editCategoryModal label {
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
  /*margin-top: 0.5rem;*/
}

#addCategoryModal label,
#editCategoryModal label {
  text-align: center;
}

#editExpenseModal .expence-item {
  margin-top: 0.4rem;
}

#editExpenseModal label {
  margin-right: 0.2rem;
}
.ctgry-flex {
  display: flex;
  margin-top: 1.2rem;
  align-items: center;
}

.ctgry-flex label {
  /*text-wrap: none;*/
  white-space: nowrap;
  margin-right: 5px;
}

.ctgry-flex:nth-of-type(2) {
  margin-bottom: 1rem;
}


#addExpenseModal label,
#editExpenseModal label {
  /* display: inline-block; */
  /*margin: 1rem 0.2rem 0.2rem 0;
  /*height: 3rem; /*same hight as input*/
  width: 12%;
  min-width: 112px;
  margin-right: 5px;
  text-align: right;
}
#addCategoryModal label,
#editCategoryModal label {
  width: 15%;
  min-width: 160px;
  /* margin-right: 5px; */
}

#editExpenseModal .modal-content,
#addExpenseModal .modal-content,
#addCategoryModal .modal-content,
#editCategoryModal .modal-content {
  padding: min(5%, 3rem);
}
.expense-item input {
  width: 100%;
}
.expense-item select {
  width: 100%;
}
#addEmojiPicker,
#editEmojiPicker {
  width: 100%;
  max-height: 17rem; /*Haruka added*/
}
#saveCategoryBtn,
#saveExpenseBtn,
#editCategoryBtn,
#editExpenseBtn {
  margin-top: 0.5rem;
  width: 15rem;
  height: 2.8rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
}

#saveCategoryBtn:hover,
#saveExpenseBtn:hover,
#editCategoryBtn:hover {
  background-color: #ff4069; /*same color of the hovered chart */
  font-weight: bold;
}

.expence-container .delete-btn {
  color: var(--main-color);
  border: solid 2px #e5e5e5;
  font-weight: bold;
  padding: 12px;
}

.delete-btn {
  background: white;
  border-radius: 20px;
  width: 5rem;
  height: 3rem;
  border: solid 2px #e5e5e5;
  color: var(--main-color);
  padding: 12px;
  /*margin: 10px;*/
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

#editExpenseModal input[type="number"],
#editExpenseModal input[type="text"],
#addExpenseModal input[type="text"],
#addCategoryModal input[type="text"],
#addCategoryModal input[type="number"],
#editCategoryModal input[type="text"],
#editCategoryModal input[type="number"] {
  margin: 0;
}


/********************/
/*for tablet*/
@media (max-width: 1020px) and (min-width: 768px) {

}

/*for smartphone*/
@media (max-width: 767px) {
  input::placeholder {
    font-size: 14px;  /* Set the font size of the placeholder text */
  }
  .expense-item {
    font-size: 20px;
    flex-direction: column;  /* Make each label and input stack in a column */
    align-items: flex-start; /* Align labels and inputs to the left */
    margin-bottom: 10px;
  }
  #addExpenseModal label,
  #editExpenseModal label {
  /* display: inline-block; */
  /*margin: 1rem 0.2rem 0.2rem 0;
  /*height: 3rem; /*same hight as input*/
  width: 12%;
  margin-right: 5px;
  text-align: left;
  }

  #editCategoryModal label {
    width: 15%;
    text-align: left;
    font-size: 20px;
  }

}